<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
    <link rel="stylesheet" href="./static/style.css">
    <title>BooksRak</title>
</head>
<body>
    <h1>BooksRak</h1>
    <form hx-post="/search/" hx-target="#book-list">
        <input type="text" name="search-query" id="search" placeholder="Search">
    </form>
    <div id="book-list">
    {{ range . }}
    <div class="book">
    <h2>{{.Book_name}}</h2>
    <p>Author: {{.Author_name}}</p>
    <p>Year: {{.Year_pub}}</p>
    <p>Rating: {{.Avg_rating}}</p>
    </div>
    {{ end }}
    </div> 
</body>
</html>